<!DOCTYPE html>
<html>
  <head>
    <title>page title</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
    <p>Date: 11/11/24</p>
    <p>this is the first paragraph in my journal</p>
    <p>this is still a work in progress</p>
  </body>
</html>
