<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel's Website</title>
    <link href="./workspaces/danielswebsite/src/pages/DanielsWebsite.css" rel="stylesheet">
    <link href="./workspaces/danielswebsite/src/pages/DanielsWebsite.js" rel="stylesheet">
  </head>
  <body style=" background-color:powderblue">
  <h1 class="title"; style=" text-align:center;  font-family:New-Times-Roman "> Daniel's Journal</h1>
  <p style='text-align:center;color:blue'><a target="_blank" href='https://www.autra.ai'>CLICK HERE -Sign Up For Cool Robotics and Coding Lessions-CLICK HERE</a></p>
  <p style='text-align:center;color:#ee8904'><a target="_blank" href="https://www.theartistlabsd.com"> CLICK HERE <code>--></code> Sign up For Cool Art Lessions<code><--</code> CLICK HERE </a></p>
  <!--<form> 
  <input type="text" name="feedback" placeholder="Do you have any feedback?">  
  Button type="submit">Submit</button> 
  </form> -->
  <!-- TODO: FIx html bug -->


  <!-- starter -->
  <h1 class="heading">HAPPY NEW YEAR!!!</h1>
  <p> Date: <b>1/2/<u>25</u></b></p>
  <p> HAPPY NEW YEAR!!!</p>
  <p> Here's to a bright and exciting new 2025, full of new adventures and journeys!</p>
  <p> Anyways, it was a great 2024, and I am looking forward to a better 2025</p>
  <p> The css problem is still a pain, and I am trying my hardest to fix it</p>
  <p> TO DO:</p>
  <p> fix the css bug and find the root of it</p>
  <p> finish the css and javascript freecodecamp tutorals</p>
  <p> NEW EDITS:</p>
  <p> Added a javascript file</p>
  <p> Also I linked the file to here, expect to see more forms</p>
  <p> Goodbye for now, see you next time!</p>


  <h1 class="heading">Happy Holidays</h1>
  <p> Date: 12/29/24</p>
  <p> How are you guys!</p>
  <p> The snow in Utah is very good, and I had a wonderful time sking at Alta ski resort.</p>
  <p> I recommend going there this winter, if you get the chance to</p>
  <p> Anyways, its great writing this again.</p>
  <p> There is a problem where, when I test the code on a localhost, it makes the heading bigger. </p>
  <p> However, when I look at the actual website—the one you are viewing—it does not display the heading as bigger or better.</p>
  <p> TO DO:</p>
  <p> fix the css bug</p>
  <p> finish the css and javascript freecodecamp tutorals</p>
  <p> NEW EDITS:</p>
  <p> Removed the how are you doing, will add it back once I can collect the resopnces, currently cannot because there is no javascript</p>
  <p> Added a TO DO list</p>
  <p> Until next time, See you then!</p>



  <h1 class="heading"> 18 more days!!!</h1>
  <p> Date: 12/5/24</p>
  <p> How are you guys doing?</p>
  <!-- <form>
  <input type="text" name="Howyoudoing" placeholder="How are you doing?">
    <button type="submit">Submit</button>
  </form>-->
  <p> I ran into a problem where i can see all of the css on the port but cant see it on the website</p>
  <p> I am trying my hardest to fix the bug</p>
  <p> Meanwhile, i have been expermenting on the website and will continue to work on free code camp</p>
  <p> NEW EDITS:</p>
  <p> Tryed to fix the css problem, may be fixed when you read this</p>



  <h1 class="heading"> Black Friday</h1>
  <p> Date: 11/29/24</p>
  <p> Hello again, and welcome back to Daniel's website!</p>
  <p> I just got the css file to work, after:</p>
  <p> 1. making the css file from tailwind css, to actual css</p>
  <p> 2. making sure that the file link was right, and that it actually went into the file</p>
  <p> NEW EDITS:</p>
  <p> Got the css file to work, I am so happy :)</p>

  

  <h1 class="heading"> Happy Thanksgiving!(To those who celebrate it)</h1>
  <p> Date: 11/28/29</p>
  <p> Hello again!</p>
  <p> I don't have a lot of time to write this so I am going to be brief and quick</p>
  <p> I will keep on working on my ISEE books</p>
  <p> I will also keep on working on free code camp, and I am almost done with the css part</p>
  <p> looking forward to a movie, popcorn, and a wonderful Thanksgiving!</p>
  <p> NEW EDITS:</p>
  <p> Still trying to debug the css file error, will fix soon</p>


  <h1 class="heading"> Fll</h1>
  <p> Date: 11/26/24</p>
  <p> Hello there, reader!</p>
  <p> I think we need more time in general</p>
  <p> For example, in my First lego league team (FLL) we meet once a week.</p>
  <p> But... thats not enough.</p>
  <p> I will try to find a way to get more time for FLL</p>
  <p> NEW EDITS:</p>
  <p> Created a css file, will add lots of looks and wonderful text fonts and styles</p>



  <h1 class="heading"> Coding</h1>
  <p> Date: 11/24/24</p>
  <p> Hello Again, fellow reader! I have been working on this webiste called free code camp</p>
  <p> I will add css files soon. </p>
  <p> But for now I will stick to html. </p>
  <p> When I finish free code camp, This website will be seeing a lot of renovations</p>
  <p> NEW EDITS:</p>
  <p> I will have a new edits after every entery. </p>


  <h1 class="heading"> Updates</h1>
  <p> Date: 11/21/24</p>
  <p> Hello!</p>
  <p> I've never realized how lucky I am to have a website to my self. </p>
  <p> I mean like, how many people do you know that own a website?</p>
  <p> NEW EDITS(other than updating this with entries):</p>
  <p> Made latest entries pop up first, sadly, you now have to scroll to read my first entrie</p>

  <h1 class="heading" ">Need More Time</h1>
  <p> Date: 11/17/24 </p>
  <p> Im trying my best to finish the W3schools tutoral for HTML, and plan to move on from there into css and javascript</p>
  <p> This is going to be hard since my scedule has little free time.</p>
  <p> Now I will try to have sections and make this look like a website.</p>
  <p> To do list</p>
  <p> 1. finish w3schools.</p>
  <p> 2. Make this website better </p>
  <p> 3. create a youtube account </p>


 
    <h1 class="heading"> Is This Better?</h1>
    <p>Date: 11/16/2024</p>
    <p> Hello again! I am slowly but surely going to make this website better. </p>
    <p> Now how do I make a page? ...</p>
    <p> I added color(it was white before)</p>
    <p>  ↓↓↓↓↓COOL LINK!!! CLICK ON IT!!! ↓↓↓↓↓↓↓</p>
    <p style=' color:blue'><a target="_blank" href='https://www.autra.ai'>CLICK HERE -Sign Up For Cool Robotics and Coding Lessions-CLICK HERE</a></p>

    <h1 class="heading""> Hello, World!</h1>
    <p>Date: 11/11/24</p>
    <p>This is the first paragraph in my journal</p>
    <p>This is still a work in progress</p>
  </body>
</html>