<!DOCTYPE html>
<html>
  <head>
    <title>page title</title>
  </head>
  <body style=" background-color:powderblue">
    <h1 style=" text-align:center; font-size:300%; font-family:New-Times-Roman "> Daniel's Journal</h1>
    <h1 style= "font-size:50px;"> Hello, World!</h1>
    <p>Date: 11/11/24</p>
    <p>This is the first paragraph in my journal</p>
    <p>This is still a work in progress</p>
    
    
    <h1 style= "font-size:50px;"> Is This Better?</h1>
    <p>Date: 11/16/2024</p>
    <p> Hello again! I am slowly but surely going to make this website better. </p>
    <p> Now how do I make a page? ...</p>
    <p> Now there is color!</p>
    <p style=' color:blue'><a href='https://www.autra.ai'>CLICK HERE -Sign Up For Cool Robotics and Coding Lessions-CLICK HERE</a></p>

    <h1 style="font-size:50px; ">Need More Time</h1>
    <p> Im trying my best to finish the W3schools tutoral for HTML, and plan to move on from there into css and javascript</p>
    <p> This is going to be hard since my scedule has little free time.</p>
    <p> Now I will try to have sections and make this look like a website.</p>
    <p> To do list</p>
    <p> 1. finish w3schools.</p>
    <p> 2. Make this website better </p>
    <p> 3. create a youtube account </p>
  </body>
</html>

