<!DOCTYPE html>
<html>
  <head>
    <title>page title</title>
  </head>
  <body>
    <h1 style= "font-size:50px;"> Hello, World!</h1>
    <p>Date: 11/11/24</p>
    <p>this is the first paragraph in my journal</p>
    <p>this is still a work in progress</p>
    <p style="color:blue"> this is blue, right?</p>
    
    
    <h1 style= "font-size:50px;"> Is This Better?</h1>
    <p>Date: 11/16/2024</p>
    <p> Hello again! I am slowly but surely going to make this website better. </p>
    <p> Now how do I make a page? ...</p>
  </body>
</html>

